<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://taftan.liara.cloud:34800/milou</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">b57ppsdVBBpFS7tjiUfQPEdt</property>

        <!-- Hibernate settings -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Entity mappings -->
        <mapping class="milou.model.User"/>
        <mapping class="milou.model.Email"/>
        <mapping class="milou.model.EmailRecipient"/>
    </session-factory>
</hibernate-configuration>